@mixin retina {
	@media (min--moz-device-pixel-ratio: 1.3),
	(-o-min-device-pixel-ratio: 2.6/2),
	(-webkit-min-device-pixel-ratio: 1.3),
	(min-device-pixel-ratio: 1.3),
	(min-resolution: 1.3dppx) {
		@content;
	}
}

@mixin chromeonly {
	@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
		@content;
	}
}


@mixin placeholder($selector:"") {
	#{$selector}::-webkit-input-placeholder { // WebKit browsers
		@content;
	}

	#{$selector}:-moz-placeholder { // Mozilla Firefox 4 to 18
		@content;
		opacity: 1;
	}

	#{$selector}::-moz-placeholder { // Mozilla Firefox 19+
		@content;
		opacity: 1;
	}

	#{$selector}:-ms-input-placeholder { // Internet Explorer 10+
		@content;
	}
}


@function calculate-rem($size) {
	$rem-size: $size / $font-size-base;
	@return #{$rem-size}rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculate-rem($size);
}

@mixin line-height($size) {
	line-height: $size;
	line-height: calculate-rem($size);
}


@mixin background-image-2x($image, $width, $height) {
	@media (min--moz-device-pixel-ratio: 1.3),
	(-o-min-device-pixel-ratio: 2.6/2),
	(-webkit-min-device-pixel-ratio: 1.3),
	(min-device-pixel-ratio: 1.3),
	(min-resolution: 1.3dppx) {
		// on retina, use image that's scaled by 2
		background-image: url($image);
		background-size: $width $height;
	}
}

@mixin single-background-image($url) {
	background-image: url($url);
	background-position: center center;
	background-repeat: no-repeat;
}

// Alias
@mixin fontSize($size) {
	@include font-size($size);
}

@mixin lineHeight($size) {
	@include line-height($size);
}
